<!DOCTYPE html>
<html lang="en">

<head>
  <title>Term Card</title>
  <link rel="stylesheet" href="card.css" />
  <link rel="stylesheet" href="/src/components/confirmation-box/confirmation-box.css" />
</head>

<body>
  <!----https://codepen.io/codingtuting/pen/XWrBgQz---->
  <div class="basic-card basic-card-light">
    <div class="card-content">
      <span id="term-name" class="card-title">Insert Term /*${data["termTitle"]}*/</span>
      <p id="description" class="card-text">
        This is the short description of the term./*${data["termTitle"]}*/
      </p>
    </div>

    <div class="card-link">
      <a href="#" title="Read Full"><span>Open</span></a>
    </div>
  </div>
  
  <script>
    function loadData(){
        const t_name = "Pineapples!";
        const descript = "this is a description!"
  
        document.getElementById("term-name").textContent = t_name;
        document.getElementById("description").textContent = descript;
  
    }
  
    // loads data upon opening it
    window.onload = loadData;
  </script>
</body>





</html>