/* */
term-card {
  margin-right: 20px;
}

/* */
term-card:last-child {
  margin: 0;
}

/* */
.tag-column {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding-left: 20px;
}

/* */
.recently-added-elements {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding-left: 20px;
}

.buttons {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons>i {
  margin-left: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* */
.add-button {
  margin-left: 12px !important;
}

.add-button:hover {
  cursor: pointer;
}

.published-posts:hover {
  cursor: pointer;
}

.draft-button {
  padding-top: 4px;
}

.draft-button:hover {
  cursor: pointer;
}

/* */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.top-buttons {
  text-align: center;
  height: 25px;
}