main {
  margin: auto;
  width: 70%;
  max-width: 1500px;
}

label {
  color: hsl(0, 0%, 45%)
}

form {
  display: flex;
  flex-direction: column;
}

.text-input {
  margin-top: 5px;
  margin-bottom: 25px;
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

::placeholder {
  font-weight: 500;
}

.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 7px;
}

textarea.text-input {
  resize: none;
  height: 60px;
}

.draft-button {
  color: white;
  background-color: hsl(167, 65%, 51%);
}

.draft-button:hover {
  background-color: hsl(167, 65%, 47%);
}