/* */
.tag-column {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding-left: 20px;
}

/* */
term-card {
  margin-right: 20px;
}

/* */
term-card:last-child {
  margin: 0;
}

.tag-results button {
  /* background-color: #57acf1; */
  color: white;
  border: 0;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin: 40px 0px 10px 0px;
}

.tag-results button:hover {
  cursor: pointer;
}

.tag-results button:first-child {
  margin-top: 0;
}

/* First Element */
.tag-results button:nth-child(8n + 1) {
  background-color: #EB4134;
}

.tag-results button:nth-child(8n + 1):hover {
  background-color: hsl(4, 82%, 51%);
}

/* Second Element */
.tag-results button:nth-child(8n + 3) {
  background-color: #FBBE04;
}

.tag-results button:nth-child(8n + 3):hover {
  background-color: hsl(45, 97%, 45%);
}

/* Third Element */
.tag-results button:nth-child(8n + 5) {
  background-color: #34AA51;
}

.tag-results button:nth-child(8n + 5):hover {
  background-color: hsl(135, 53%, 39%);
}

/* Fourth Element */
.tag-results button:nth-child(8n + 7) {
  background-color: #438AF7;
}

.tag-results button:nth-child(8n+ 7):hover {
  background-color: hsl(216, 92%, 57%);
}